body {
    font-family: Arial, Helvetica, sans-serif;
}
.pesquisa-restaurante {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(221, 221, 221,0.5);
    padding-bottom: 13px;

}
.pesquisa-restaurante input {
    background-color: rgba(221, 221, 221,0.5);
    border: 0;
    padding: 7px;
    border-radius: 4px;
    color: rgba(105, 105, 105, 0.849);

}
.pesquisa-restaurante button {
    background-color: white;
    border:0;
    color: rgb(197, 0, 0);
    padding-left: 18px;
    padding-right: 18px;
    font-size: 14px;

}
.resultado-busca {
    padding-left: 10px;
    padding-right: 10px;    
}
ul.lista-restaurantes  {
    list-style-type: none;
    margin: 0px;
    padding: 3px;
}
li.restaurante {
    height: 100px;
    display: flex;
    border: 2px solid rgba(221, 221, 221,0.5);
    border-radius: 4px;
    margin-bottom: 10px;
}
.edit-logo {
    width: 30%;
    height: 100px;
    border-right: 2px solid rgba(221, 221, 221,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-restaurante {
    width: 70px;
}
.informacoes-restaurantes {
    padding: 10px;
}
.nome-restaurante {
    font-weight: bold;
    font-size: 14px;
    color: rgb(44, 44, 44);

}
.descricao-restaurante {
    font-size: 10px;
    color: rgba(105, 105, 105, 0.849);
}
.nota {
    color: rgba(216, 166, 1, 0.89);
    font-size: 14px;
}
.estilo-rango {
    padding: 7px;
    color: rgba(95, 91, 91, 0.993);
    font-size: 12px; 
}
.tempo-valor{
    padding: 27px ;
    margin-left: -30px; 
    color: rgba(105, 105, 105, 0.849);
    font-size: 11px;
}
